header {
  background-image: linear-gradient(
      to right bottom,
      rgba(172, 172, 248, 0.8),
      rgba(28, 62, 255, 0.8)
    ),
    url("../img/background.png");
  background-size: cover;
  background-position: top;
  position: relative;
  height: 80vh;
  clip-path: ellipse(100% 100% at 50% 00%);
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.logo {
  width: 100px;
  animation: animaForLogo 1.5s;
  &-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 3rem;
  /* animation-name: animationTest;
    animation-duration: 1.5s; */
  &__main {
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 1rem;
    display: block;
    animation: animaForMain 1.5s;
  }
  &__sub {
    display: inline-block;
    font-size: 2rem;
    letter-spacing: 1.1rem;
    animation: animaForSub 1.5s;
  }
}
.navigation {
  &__list {
    margin-top: 2rem;
    display: inline-flex;
    float: right;
  }
  &__item {
    list-style: none;
    overflow: hidden;
    margin-right: 2rem;
  }
  &__link {
    font-size: 2rem;
    @include setHoverEffect;
  }
}
.btn-close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2rem;
  background-color: #fff;
  padding: 0.2rem 1.1rem;
  border-radius: 50%;
}
.navigation-mobile {
  text-align: center;

  display: none;
  position: relative;
  z-index: 3;
  &__nav {
    z-index: 5;
    width: 100%;
    background-image: linear-gradient(
      to left bottom,
      rgba(124, 124, 255, 0.8),
      rgba(0, 38, 253, 0.8)
    );
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    height: 100vh;

    display: none;
    animation: animationForPopup 0.8s;
  }
  &__menu-icon {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
  }
  &__list {
    display: inline-block;
  }
  &__item {
    list-style: none;
    margin-bottom: 3rem;
    overflow: hidden;
  }
  &__link {
    @include setHoverEffect;
  }
}

/* Fade-in animation */
@keyframes fadeIn {
  100% {
    opacity: 0;
  }
}
.checkbox:checked ~ .navigation-mobile__nav {
  display: block;
}
// .checkbox:checked ~ .nav__overlay {
//   display: block;
// }
.checkbox:checked ~ .navigation-mobile__menu-icon {
  display: none;
}
// .nav__overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   height: 100vh;
//   background-color: rgba(0, 0, 0, 0.3);
//   display: none;
//   animation: fadeIn ease 0.2s;
//   -webkit-backdrop-filter: blur(3px);
//   backdrop-filter: blur(3px);
// }
